In [5]:
import pandas as pd
from sklearn.datasets import load_digits

In [6]:
digits = load_digits()

In [10]:
dir(digits)

['DESCR', 'data', 'images', 'target', 'target_names']

In [12]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
df = pd.DataFrame(digits.data, digits.target)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [25]:
df.shape

(1797, 64)

In [26]:
df.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
       ...
59    float64
60    float64
61    float64
62    float64
63    float64
Length: 64, dtype: object

In [36]:
df['Targets'] = digits.target
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,Targets
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
5,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,16.0,16.0,10.0,0.0,0.0,5
6,0.0,0.0,0.0,12.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,9.0,15.0,11.0,3.0,0.0,6
7,0.0,0.0,7.0,8.0,13.0,16.0,15.0,1.0,0.0,0.0,...,0.0,0.0,0.0,13.0,5.0,0.0,0.0,0.0,0.0,7
8,0.0,0.0,9.0,14.0,8.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,16.0,15.0,11.0,1.0,0.0,8
9,0.0,0.0,11.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,9.0,12.0,13.0,3.0,0.0,0.0,9

In [39]:
groupby = df.groupby('Targets')
groupby.first()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
Targets,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
5,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,9.0,16.0,16.0,10.0,0.0,0.0
6,0.0,0.0,0.0,12.0,13.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,1.0,9.0,15.0,11.0,3.0,0.0
7,0.0,0.0,7.0,8.0,13.0,16.0,15.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,13.0,5.0,0.0,0.0,0.0,0.0
8,0.0,0.0,9.0,14.0,8.0,1.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,11.0,16.0,15.0,11.0,1.0,0.0
9,0.0,0.0,11.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,...,4.0,0.0,0.0,0.0,9.0,12.0,13.0,3.0,0.0,0.0

In [40]:
groupby.mean()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
Targets,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.022472,4.185393,13.095506,11.297753,2.926966,0.033708,0.000000,0.000000,0.887640,...,2.415730,0.000000,0.00000,0.005618,4.157303,13.561798,13.325843,5.438202,0.275281,0.000000
1,0.0,0.010989,2.456044,9.208791,10.406593,6.076923,0.994505,0.000000,0.000000,0.093407,...,2.049451,0.642857,0.00000,0.005495,2.241758,9.137363,13.027473,8.576923,3.049451,1.494505
2,0.0,0.932203,9.666667,14.186441,9.627119,2.384181,0.107345,0.000000,0.011299,5.276836,...,7.180791,0.711864,0.00565,0.943503,10.096045,13.966102,13.118644,11.796610,8.022599,1.932203
3,0.0,0.644809,8.387978,14.169399,14.224044,7.480874,0.786885,0.005464,0.010929,4.207650,...,5.928962,0.065574,0.00000,0.502732,9.316940,14.650273,13.972678,8.672131,1.409836,0.065574
4,0.0,0.000000,0.453039,7.055249,11.497238,2.011050,0.209945,0.127072,0.000000,0.060773,...,0.022099,0.000000,0.00000,0.022099,0.552486,7.812155,11.812155,1.955801,0.000000,0.000000
5,0.0,0.967033,9.983516,13.038462,13.895604,12.181319,4.142857,0.043956,0.005495,3.895604,...,1.335165,0.000000,0.00000,0.956044,10.664835,14.736264,9.362637,2.532967,0.197802,0.000000
6,0.0,0.000000,1.138122,11.165746,9.585635,1.447514,0.011050,0.000000,0.000000,0.033149,...,10.779006,0.524862,0.00000,0.000000,1.436464,10.685083,15.093923,13.044199,4.480663,0.093923
7,0.0,0.167598,5.100559,13.061453,14.245810,11.027933,5.189944,1.000000,0.000000,1.094972,...,0.000000,0.000000,0.00000,0.122905,6.391061,11.659218,2.206704,0.011173,0.000000,0.000000
8,0.0,0.143678,5.022989,11.603448,12.402299,6.235632,0.528736,0.000000,0.028736,1.977011,...,2.316092,0.005747,0.00000,0.143678,5.005747,12.695402,13.011494,6.735632,1.206897,0.011494
9,0.0,0.144444,5.683333,11.833333,11.255556,5.944444,1.572222,0.122222,0.000000,2.433333,...,5.188889,0.111111,0.00000,0.088889,5.727778,12.044444,13.144444,8.894444,2.094444,0.055556

In [42]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,Targets
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [45]:
X = df.drop(['Targets'], axis='columns')
X[:5]

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [46]:
y = df.Targets
y[:5]

0    0
1    1
2    2
3    3
4    4
Name: Targets, dtype: int32

In [41]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [49]:
from sklearn.svm import SVC

In [90]:
poly_model = SVC(kernel='poly')

In [95]:
poly_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [96]:
y_hat = poly_model.predict(X_test)

In [103]:
from sklearn.metrics import accuracy_score

print('Polynomial Model:',accuracy_score(y_test, y_hat))

Polynomial Model: 0.9833333333333333

In [98]:
rbf_model = SVC(kernel='rbf')

In [99]:
rbf_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [100]:
y_hat = rbf_model.predict(X_test)

In [104]:
from sklearn.metrics import accuracy_score

print('RBF Model:',accuracy_score(y_test, y_hat))

RBF Model: 0.9833333333333333